.aboutContainer {
  display: grid;
  justify-content: center;
  height: 100vh;
  padding-top: 2.3rem;
  margin-top: 8rem;
}

.gridTemplateArea {
  grid-template-areas:
    "titleContainer"
    "imageContainer"
    "textContainer"
    "skillsContainer"
    "iconsContainer";
}

.aboutContainer p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
}

.titleContainer p {
  font-weight: 500;
}

.titleContainer {
  grid-area: titleContainer;
  padding-bottom: 1.25rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--orange) 25%,
    var(--light-gray) 50%,
    var(--orange) 100%
  );
  border-image-slice: 1;
  border-image-width: 0px 0px 2px 0px;
}

.imageContainer {
  grid-area: imageContainer;
  margin: 5rem auto 0;
  width: 20rem;
  border-radius: 50%;
  padding: 1rem;
  border: 4px solid var(--light-gray);

  position: relative;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.textContainer {
  grid-area: textContainer;
  max-width: 15.5rem;
  margin: 3.37rem auto 0;
}

.skillsContainer {
  grid-area: skillsContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.skillsContainer p {
  font-weight: 500;
}

.iconsContainer {
  grid-area: iconsContainer;
  margin-top: 1.81rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.87rem;
}

.iconsContainer span {
  display: flex;
  justify-content: center;
  width: 2.18rem;
  height: 2.18rem;
  background-size: cover;
  transition: all 0.4s;

  position: relative;
  text-align: center;
}

.iconsContainer span::after {
  font-size: 0.75rem;
  position: relative;
  bottom: -2.45rem;
  font-weight: 300;
}

.skill {
  width: 3.18rem;
  height: 3.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skill::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.skillAdvanced::after {
  background-image: url("/icons/advanced.svg");
}
.skillIntermediary::after {
  background-image: url("/icons/intermediary.svg");
}
.skillBasic::after {
  background-image: url("/icons/basic.svg");
}

.iconReact {
  background-image: url("/icons/technologies/react.svg");
}
.iconReact::after {
  content: "ReactJS";
}

.iconReactNative {
  background-image: url("/icons/technologies/react.svg");
}
.iconReactNative::after {
  content: "React Native";
}

.iconNode {
  background-image: url("/icons/technologies/nodejs.svg");
}
.iconNode::after {
  content: "NodeJS";
}

.iconJavascript {
  background-image: url("/icons/technologies/javascript.svg");
}
.iconJavascript::after {
  content: "Javascript";
}

.iconTypescript {
  background-image: url("/icons/technologies/typescript.svg");
}
.iconTypescript::after {
  content: "Typescript";
}

.iconCss {
  background-image: url("/icons/technologies/css3.svg");
}
.iconCss::after {
  content: "CSS 3";
}

.iconHtml {
  background-image: url("/icons/technologies/html5.svg");
}
.iconHtml::after {
  content: "HTML5";
}

.iconNext {
  background-image: url("/icons/technologies/next.svg");
}
.iconNext::after {
  content: "NEXTJS";
}

.iconSql {
  background-image: url("/icons/technologies/sql.svg");
}
.iconSql::after {
  content: "Database";
}

.iconMySql {
  background-image: url("/icons/technologies/mysql.svg");
}
.iconMySql::after {
  content: "MySql";
}

.iconPostgres {
  background-image: url("/icons/technologies/postgresql.svg");
}
.iconPostgres::after {
  content: "PostgreSQL";
}

.iconSqlite {
  background-image: url("/icons/technologies/sqlite.svg");
}
.iconSqlite::after {
  content: "Sqlite";
}

.shine {
  color: var(--orange);
  position: relative;
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

.shine::after {
  content: "SKILLS";
  top: 0;
  left: 0;
  position: absolute;
  color: #fff;
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  background-color: var(--box-background);
  padding: 0.75rem 0.5rem;
  border-radius: 10px;
  position: relative;
}

.tooltip > div {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.tooltip > div p {
  font-size: 0.85rem;
}

.tooltip::after {
  content: "";
  border-top: solid 32px transparent;
  border-left: solid 32px transparent;
  border-right: solid 32px transparent;
  border-bottom: solid 32px var(--box-background);
  position: absolute;
  bottom: 0;
  right: 65%;
  z-index: -1;
}

@media (min-width: 1080px) {
  .aboutContainer {
    padding-top: 7.3rem;
  }
  .gridTemplateArea {
    grid-template-columns: 60% 20%;

    grid-template-areas:
      "titleContainer imageContainer"
      "textContainer imageContainer"
      "skillsContainer imageContainer"
      "iconsContainer imageContainer";
  }
  .imageContainer {
    margin: 0;
    height: 20rem;
  }
  .titleContainer {
    text-align: end;
    width: 100%;
  }
  .textContainer {
    max-width: 100%;
    margin: 3.37rem 1rem 0 13.06rem;
  }
  .skillsContainer {
    align-items: flex-end;
    margin-top: 4.93rem;
  }
  .iconsContainer {
    margin-top: 1.125rem;
    margin-bottom: 6.25rem;
  }
  .iconsContainer span {
    margin-right: 1.875rem;
    margin-top: 0.5rem;
  }
  .iconsContainer span:last-child {
    margin-right: 0;
  }

  .tooltip::after {
    content: "";
    border-top: solid 32px transparent;
    border-left: solid 32px var(--box-background);
    border-right: solid 32px transparent;
    border-bottom: solid 32px var(--box-background);
    position: absolute;
    bottom: 0;
    right: -10%;
  }
}
