.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer img {
  cursor: pointer;
  transition: all 0.2s;
  z-index: 5;
}

.headerContainer img:hover {
  filter: brightness(0.8);
}

.headerContainer div p {
  font-size: 1.125rem;
}

.headerContainer div p a {
  color: var(--orange);
  z-index: 5;
}

@media (min-width: 1080px) {
  .headerContainer {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 11rem;
  }

  .headerContainer div p {
    font-size: 1.5rem;
  }
}
