.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer div p{
    font-size: 1.5rem;
}


@media(min-width: 1080px){
    .headerContainer{
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 11rem;
    }
}