.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 1205px;

  background-color: var(--box-background);

  padding: 0.8rem 1.5rem;

  border-radius: 10px;

  transition: all 0.4s;

  overflow: hidden;
}

.container header {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.container span{
  font-size: 1.125rem;
}

.container button {
  background: transparent;
  border: none;
}

.buttonContainer{
  display: flex;
  gap: 1rem;
}

.content{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: all 0.8s;
}

.form {
  width: 100%;
  margin-top: 3rem;
}

.formGroup{
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1rem;
}

.formGroup label {
  font-size: 1.125rem;
  position: relative;
}

.required::after {
  content: '*';
  position: absolute;
 
  margin-left: 0.5rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #CC3728;
}

.formGroup input,
.formGroup textarea{
  background-color: #D1D1D1;
  border: none;
  border-radius: 8px;

  padding: 0.5rem;
  outline: none;

  margin-top: 0.5rem;
}

.formGroup input:focus,
.formGroup input:active {
  outline: none;
  border: 1px solid var(--orange);
}

.saveButton {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;

  background: var(--orange) !important;
  color: #fff;

  position: relative;
  border-radius: 8px;

  height: 3.4rem;

  font-size: 1.125rem;
  font-weight: 700;
}

.saveButton svg {
  position: absolute;
  right: 1rem;
}

.techList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.techButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 4rem;
}

.techButton span {
  font-size: 0.75rem;
  color: #fff;
}

.galleryContainer {
  display: flex;
  gap: 1rem;

  max-width: 100%;
  height: 392px;

  overflow: hidden;
  overflow-x: auto;

  padding: 1rem 0;
}

.galleryContainer img {
  max-width: 100%;
}
