.techContainer {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.techContainer span {
  display: inline-block;
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  opacity: 0;

  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
}

.iconReact {
  animation-delay: 4s;
  background-image: url("/icons/technologies/react.svg");
  right: 15%;
}
.iconNode {
  animation-delay: 8s;
  background-image: url("/icons/technologies/nodejs.svg");
  right: 35%;
}
.iconJavascript {
  animation-delay: 12s;
  background-image: url("/icons/technologies/javascript.svg");
  right: 25%;
}
.iconTypescript {
  animation-delay: 16s;
  background-image: url("/icons/technologies/typescript.svg");
  right: 5%;
}

.iconCss {
  animation-delay: 20s;
  background-image: url("/icons/technologies/css3.svg");
  right: 45%;
}
.iconHtml {
  animation-delay: 24s;
  background-image: url("/icons/technologies/html5.svg");
  right: 55%;
}
.iconNext {
  animation-delay: 28s;
  background-image: url("/icons/technologies/next.svg");
  right: 65%;
}
.iconSql {
  animation-delay: 32s;
  background-image: url("/icons/technologies/sql.svg");
  right: 75%;
}
.iconNest {
  animation-delay: 38s;
  background-image: url("/icons/technologies/nest.svg");
  right: 85%;
}

.techContainer span:hover {
  transition: filter 1.5s;
  filter: drop-shadow(0px 0px 32px #ffffff);
}

.showUpAnimation {
  animation-name: showUp;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.movingTypescript {
  animation-name: movingTypescript;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes movingTypescript {
  0% {
    opacity: 0;
    -webkit-mask-position: 150%;
    transform: translateY(0);
  }
  20% {
    opacity: 0.4;
  }
  25% {
    -webkit-mask-position: -50%;
  }
  75% {
    -webkit-mask-position: 150%;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(900px);
  }
}
